# Ignore files without extension (e.g. binaries)
# 1) Ignore all
# 2) Unignore all with extensions
# 3) Unignore all dirs
*
!*.*
!*/

# Ignore cmake stuff
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
compile_commands.json

# Ignore library/shared library binaries
*.a
*.lib
*.so
*.dll

# Ignore clang files
.clangd/