# Files without extension (e.g. binaries)
# 1) Ignore all
# 2) Unignore all with extensions
# 3) Unignore all dirs
*
!*.*
!*/

# Cmake stuff
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
compile_commands.json

# Library/shared library binaries
*.a
*.lib
*.so
*.dll

# Clang files
.clangd/

# User files
*.user

# Qt
*_autogen/
