# Files without extension (e.g. binaries)
# 1) Ignore all
# 2) Unignore all with extensions
# 3) Unignore all dirs
*
!*.*
!*/

# Unignore qmldir files
!qmldir

# Cmake stuff
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
compile_commands.json

# Library/shared library binaries
*.a
*.lib
*.so
*.dll

# Clang files
.clangd/

# User files
*.user
.vimrc

# Qt
*_autogen/

# vscode
.vscode/

# kdev4
*.kdev4
*.ninja
.ninja_deps
.ninja_log

# Reference
reference
